$primary-color: #C96318;
.component-container {

  button.btn {
    width: 100%;
    border-radius: 0px;
    border: none;
    &.btn-primary {
        font-size: 24px;
        font-weight: bold;
        line-height: 40px;
        padding-bottom: 15px;
        background-color: $primary-color;
        span {
          position: relative;
          top:4px;
          color: #fff;
        }
        &:hover {
          background-color: #C96318;
        }

        img {
          width: 35px;
          margin-right: 10px;
        }
    }
    &.btn-secondary {
      background-color: #222222 !important;
    }
  }

}