<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#" [routerLink]="['/']">
	<svg width="30px" height="30px" viewBox="0 0 512 512" style="margin-right: 10px;" enable-background="new 0 0 512 512" xml:space="preserve">
		<path id="time-3-icon" style="fill: white;margin-right: 20px;"d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm216 248c0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216zm-148.9 88.3l-81.2-59c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h14c6.6 0 12 5.4 12 12v146.3l70.5 51.3c5.4 3.9 6.5 11.4 2.6 16.8l-8.2 11.3c-3.9 5.3-11.4 6.5-16.8 2.6z"/>
	</svg> <span class="text-white" style="line-height: 30px;position: relative;top:2px;">Time Tracker</span>
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['/']">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/projects']">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/clients']">Clients</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Favorites
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Project 1</a>
            <a class="dropdown-item" href="#">Project 2</a>
            <a class="dropdown-item" href="#">Project 3</a>
            <a class="dropdown-item" href="#">Project 4</a>
            <a class="dropdown-item" href="#">Project 5</a>
            <a class="dropdown-item" href="#">Project 6</a>
            <a class="dropdown-item" href="#">Project 9</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Add or remove Project</a>
          </div>
        </li>
        
      </ul>
    </div>
</nav>


